# Module 1 - Introducing Libraries: NumPy and Pandas
## Pandas Part 1

Main author: Alison Peebles Madigan.

#### _Our goals today are to be able to_: <br/>

- Identify and import Python libraries
- Identify differences between NumPy and base Python in usage and operation
- Import/read data using Pandas
- Identify Pandas objects and manipulate Pandas objects by index and columns
- Filter data using Pandas

#### _Big questions for this lesson_: <br/>
- What is a package, what do packages do, and why might we want to use them?
- When do we want to use NumPy versus Pandas?
- What are the advantages of using Pandas?

Let's start by looking at the Anaconda docs to see all the libraries you already have!

https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/

### 1. Importing Python Libraries


Here's the bottom line: Lots of people have written function and class definitions. Some of them are really good! And we can use these *libraries* in our analysis.

[NumPy](https://www.numpy.org/) is the fundamental package for scientific computing with Python. 


To import a package type `import` followed by the name of the library as shown below.

In [1]:
import numpy as np

In [3]:
x=np.array([1,2,3])
print(x)

#most packages have a standard way to import them
import numpy as np

y=np.array([4,5,6])
print(y)

[1 2 3]
[4 5 6]

Because of numpy we now have lots of mathematical operations available to us!

In [ ]:
np.

In [93]:
example = [4,3,25,40,62,20]
print(np.mean(example))
print(np.std(example))

Now let's import some other packages. We will cover in more detail some fun options for numpy later.

In [5]:
import scipy
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [92]:
#sometimes we will want to import a specific module from a library
import matplotlib.pyplot as plt

plt.plot(x,y)

In [91]:
#OR we can also import it this way

from matplotlib import pyplot as plt 
plt.plot(x,y);

Try importing the seaborn library as ['sns'](https://en.wikipedia.org/wiki/Sam_Seaborn) which is the convention.

In [8]:
#type your code here!

What happens if we mess with naming conventions? For example, import one of our previous libraries as print.


PLEASE NOTE THAT WE WILL HAVE TO RESET THE KERNEL AFTER RUNNING THIS. Comment out your code after running it.

In [9]:
import pandas as pd

In [90]:
#Did we get an error? What about when we run the following command?

print(x)

#Restart your kernel and clear cells

#### Helpful links: library documenation

Libraries have associated documentation to explain how to use the different tools included in a library.

- [NumPy](https://docs.scipy.org/doc/numpy/)
- [SciPy](https://docs.scipy.org/doc/scipy/reference/)
- [Pandas](http://pandas.pydata.org/pandas-docs/stable/)
- [Matplotlib](https://matplotlib.org/contents.html)

### 2. NumPy versus base Python

Now that we know libraries exist, why do we want to use them? Let us examine a comparison between base Python and Numpy.

Python has lists and normal python can do basic math. NumPy, however, has the helpful objects called arrays.

Numpy has a few advantages over base Python which we will look at.

In [6]:
names_list=['Bob','John','Sally']
names_array=np.char.array(['Bob','John','Sally']) #use numpy.array for numbers and numpy.char.array for strings
print(names_list)
print(names_array)

['Bob', 'John', 'Sally']
['Bob' 'John' 'Sally']

In [7]:
# Make a list and an array of three numbers

#your code here
numbers_list = [1, 2, 3]
numbers_array = np.array([1,2,3])

In [8]:
# divide your array by 2

numbers_array/2

array([0.5, 1. , 1.5])

In [11]:
# divide your list by 2
[num/2 for num in numbers_list]
    
    
numbers_list

[1, 2, 3]

Below, you will find a piece of code we will use to compare the speed of operations on a list and operations on an array. In this speed test, we will use the library [time](https://docs.python.org/3/library/time.html).

In [12]:
import time
import numpy as np

In [13]:
time.time()

1561743413.1123269

In [20]:
size_of_vec = 1000000

def pure_python_version():
    t1 = time.time()
    X = range(size_of_vec)
    Y = range(size_of_vec)
    Z = [X[i] * Y[i] for i in range(len(X)) ]
    return time.time() - t1

In [21]:
def numpy_version():
    t1 = time.time()
    X = np.arange(size_of_vec)
    Y = np.arange(size_of_vec)
    Z = X * Y
    return time.time() - t1


t1 = pure_python_version()
t2 = numpy_version()
print("python: " + str(t1), "numpy: "+ str(t2))
print("Numpy is in this example " + str(t1/t2) + " times faster!")

python: 0.3272390365600586 numpy: 0.018728017807006836
Numpy is in this example 17.473233949917887 times faster!

In pairs, run the speed test with a different number, and share your results with the class.

### 3. Pandas!


#### Let's use pandas to read some csv files so we can interact with them.

First, let's check which directory we are in so the files we expect to see are there.

In [22]:
!pwd
!ls -al

/Users/flatironschool/numpy_pandas_seattle-ds-062419
total 168
drwxr-xr-x  10 flatironschool  staff    320 Jun 28 10:48 .
drwxr-xr-x+ 48 flatironschool  staff   1536 Jun 28 10:05 ..
drwxr-xr-x  13 flatironschool  staff    416 Jun 28 10:05 .git
-rw-r--r--   1 flatironschool  staff   1203 Jun 28 10:05 .gitignore
drwxr-xr-x   3 flatironschool  staff     96 Jun 28 10:08 .ipynb_checkpoints
-rw-r--r--   1 flatironschool  staff  35149 Jun 28 10:05 LICENSE
-rw-r--r--   1 flatironschool  staff    191 Jun 28 10:05 README.md
-rw-r--r--   1 flatironschool  staff     62 Jun 28 10:05 example1.csv
-rw-r--r--   1 flatironschool  staff  29923 Jun 28 10:48 intro_to_libraries_numpy_and_pandas-apm.ipynb
-rw-r--r--   1 flatironschool  staff    238 Jun 28 10:05 made_up_jobs.csv

Did you see that? It is possible to run terminal commands from jupyter notebook by using `!`

In [23]:
import pandas as pd
example_csv=pd.read_csv('example1.csv')

There are also `read_excel` and many other pandas `read` functions.

In [24]:
example_csv.head() #this is an example template of how to read a csv

     Title1    Title2    Title3
0       one       two     three
1  example1  example2  example3

Try loading in the example file in the directory called 'made_up_jobs.csv' using pandas.

In [29]:
jobs = pd.read_csv('made_up_jobs.csv')

jobs.head()
#remember that it's nice to be able to look at your data, so let's do that here, too.

   ID           Name                       Job  Years Employed
0   0   Bob Bobberty  Underwater Basket Weaver              13
1   1   Susan Smells             Salad Spinner               5
2   2  Alex Lastname      Productivity Manager               2
3   3        Rudy P.                Being cool              55
4   4        Rudy G.  Being compared to Rudy P              50

You can also load in data by using the url of an associated dataset.

In [30]:
shelter_data=pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD') 
#this link is copied directly from the download option for CSV

shelter_data.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A706233,Champion,06/28/2019 11:52:00 AM,06/28/2019 11:52:00 AM,01/26/2015,Return to Owner,NaN,Dog,Neutered Male,4 years,Doberman Pinsch Mix,Black/Tan
1,A798591,NaN,06/28/2019 11:36:00 AM,06/28/2019 11:36:00 AM,06/27/2016,Euthanasia,Suffering,Cat,Unknown,NaN,Domestic Shorthair,Orange Tabby
2,A798314,NaN,06/28/2019 11:22:00 AM,06/28/2019 11:22:00 AM,06/24/2017,Transfer,Partner,Dog,Intact Female,2 years,Lhasa Apso Mix,White
3,A798599,NaN,06/28/2019 11:19:00 AM,06/28/2019 11:19:00 AM,06/28/2019,Euthanasia,Suffering,Cat,Unknown,NaN,Domestic Shorthair,Brown Tabby
4,A798301,NaN,06/28/2019 10:48:00 AM,06/28/2019 10:48:00 AM,06/24/2017,Transfer,Snr,Cat,Neutered Male,2 years,Domestic Shorthair,White/Orange

In [35]:
shelter_data.describe()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,102811,70652,102811,102811,102811,102800,46826,102811,102809,102796,102811,102811
unique,92213,17158,84720,84720,6517,9,21,5,5,49,2428,573
top,A721033,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,09/01/2015,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,30,462,39,39,118,44532,25574,58688,36220,18875,29744,10738

In [34]:
shelter_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102811 entries, 0 to 102810
Data columns (total 12 columns):
Animal ID           102811 non-null object
Name                70652 non-null object
DateTime            102811 non-null object
MonthYear           102811 non-null object
Date of Birth       102811 non-null object
Outcome Type        102800 non-null object
Outcome Subtype     46826 non-null object
Animal Type         102811 non-null object
Sex upon Outcome    102809 non-null object
Age upon Outcome    102796 non-null object
Breed               102811 non-null object
Color               102811 non-null object
dtypes: object(12)
memory usage: 9.4+ MB

Now that we can read in data, let's get more comfortable with our Pandas data structures.

In [37]:
ID_series=shelter_data['Animal ID'] #you can specify particular columns in a data frame in this way.
ID_series

0         A706233
1         A798591
2         A798314
3         A798599
4         A798301
5         A798355
6         A798309
7         A795992
8         A798162
9         A798188
10        A798022
11        A798167
12        A797696
13        A787009
14        A798109
15        A796764
16        A798121
17        A798191
18        A797769
19        A798154
20        A798298
21        A797766
22        A797735
23        A797782
24        A798294
25        A797765
26        A793669
27        A751047
28        A798592
29        A798536
           ...
102781    A663887
102782    A663935
102783    A663201
102784    A663955
102785    A664171
102786    A663938
102787    A664261
102788    A664260
102789    A664262
102790    A664263
102791    A664271
102792    A663495
102793    A664219
102794    A613553
102795    A648744
102796    A664258
102797    A663546
102798    A664225
102799    A663342
102800    A661795
102801    A656894
102802    A663833
102803    A663572
102804    A663888
102805    A663646
102806    A664223
102807    A664236
102808    A664237
102809    A664235
102810    A659834
Name: Animal ID, Length: 102811, dtype: object

### 4. Utilizing and identifying Pandas objects

- What is a DataFrame object and what is a Series object? 
- How are they different from Python lists and dictionary objects?

These are questions we will cover in this section. To start, let's start with this list of fruits.

In [38]:
#define your list here!

fruits = ['Apple','Orange','Watermelon','Lemon','Mango']

print(fruits)

['Apple', 'Orange', 'Watermelon', 'Lemon', 'Mango']

Using our list of fruits, we can create a pandas object called a 'series' which is much like an array or a vector.

In [39]:
fruits_series = pd.Series(fruits)

print(fruits_series)

0         Apple
1        Orange
2    Watermelon
3         Lemon
4         Mango
dtype: object

One difference between python **list objects** and pandas **series objects** is the fact that you can define the index _manually._

In [ ]:
ind = ['a','b','c','d','e']

fruits_series = pd.Series(fruits,index=ind)

print(fruits_series)

With a partner, create your own custom series from a list of lists.

In [54]:
list_of_lists=[['cat'],['dog'],['horse'],['cow'],['macaw']]
indices = ['a','b','c','d','e']

flats =[]
for names in list_of_lists:
    flats.append(names[0])
    printpd.Series(flats,index=indices)
    
    


#create custom indices for your series


#create the series using your list objects
#HINT: use a for loop

#print your series

SyntaxError: 'return' outside function (<ipython-input-54-c0fef6c53ae4>, line 7)

We can do a simliar thing with Python dictionaries. This time, however, we will create a DataFrame object from a python dictionary.

In [86]:
# Dictionary with list object in values
student_dict = {
    'name' : ['Samantha', 'Alex', 'Dante'],
    'age' : ['35','17','26'],
    'city' : ['Houston', 'Seattle', 'New york']
}

students_df = pd.DataFrame(student_dict)

students_df.head()

       name age      city
0  Samantha  35   Houston
1      Alex  17   Seattle
2     Dante  26  New york

In [ ]:
#to find data types of columns
students_df.dtypes

Let's change the data type of ages to int.

In [ ]:
students_df.age = students_df.age.astype(int)

students_df.dtypes

We can also use a custom index for these items. For example, we might want them to be the individual student ID numbers.

In [85]:
school_ids = ['1111','1145','0096']

students_df = pd.DataFrame(student_dict,index=school_ids)

students_df.head()

Using Pandas, we can also rename columns.

In [ ]:
students_df.columns = ['NAME', 'AGE','HOME']
students_df.head()

Or, we can also change the column names using the rename function.

In [84]:
students_df.rename(columns={'AGE': 'YEARS'}, #inplace=True
                  )
students_df.head()

Similarly, there is a tool to remove rows and columns from your DataFrame

In [ ]:
students_df.drop(columns=['YEARS', 'HOME'])

If you want the file to save over itself, use the option `inplace=True`.

Every function has options. Let's read more about `drop` [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [29]:
students_df.drop(index=['1111'])

       name age      city
1145   Alex  17   Seattle
0096  Dante  26  New york

Adding columns can be a bit trickier, however.

#### Getting Started

Let's define a function that returns a dataframe for us to work with. Note that this dataframe is created from a `list` of dictionaries, and each `dict` has identical _keys_ representing field names. The _values_ are the data to be stored in each field.

This list-of-dictionaries format is a common way to represent _rows of data_ in Python.

Pandas is not the only tool that supports it natively: **MongoDB** also represents each row of a dataset as a dictionary. This format is also useful when working with big data in Spark.

In [50]:
def get_customer_data():
    """Return a Pandas DataFrame containing imaginary customer data."""
    customers = [
        {'name': 'Harmony', 'state': 'OR'},
        {'name': 'Sarah', 'state': 'CA'},
        {'name': 'Sharad', 'state': 'WA'},
        {'name': 'CJ', 'state': 'NY'},
        {'name': 'Jerry', 'state': 'OR'},
    ]
    return pd.DataFrame(customers)

In [51]:
get_customer_data()

      name state
0  Harmony    OR
1    Sarah    CA
2   Sharad    WA
3       CJ    NY
4    Jerry    OR

#### Get the customer data

In [58]:
customer_df = get_customer_data()

#### Try to identify all Oregonian customers as hippies:

In [59]:
oregon_customer_df = customer_df[customer_df['state'] == 'OR']
oregon_customer_df['is_hippy'] = 1

/Users/flatironschool/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

#### Try to identify all non-Oregonian customers as non-hippies:

In [60]:
non_oregon_customer_df = customer_df[customer_df['state'] != 'OR']
non_oregon_customer_df['is_hippy'] = 0

/Users/flatironschool/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

#### We can do the same thing on a single line (and get the same warning):

In [61]:
customer_df[customer_df['state'] == 'OR']['is_hippy'] = 1

/Users/flatironschool/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

#### See the results! (What's wrong?)

In [62]:
customer_df

      name state
0  Harmony    OR
1    Sarah    CA
2   Sharad    WA
3       CJ    NY
4    Jerry    OR

#### What went wrong?

1. First, we _sliced_ the original dataframe to include just Oregon customers.
2. The _slice_ `oregon_customer_df` could be interpreted as a _new dataframe_ containing the selected rows in the original `customer_df`, or as a _pointer to_ the rows in the original dataframe. Pandas doesn't know which one we want.
3. When we try to _modify_ or _set_ values in the slice, Pandas doesn't know what to do.

#### One way to avoid the error is to explicitly make a copy of the slice with `df.copy()`:

In [63]:
oregon_customer_df = customer_df[customer_df['state'] == 'OR'].copy()
oregon_customer_df['is_hippy'] = 1
oregon_customer_df

      name state  is_hippy
0  Harmony    OR         1
4    Jerry    OR         1

#### What if we really want to modify the original dataframe?
#### We can use `df.loc[columns, rows]` to explicity modify the original dataframe.

In [64]:
customer_df.loc[customer_df['state'] == 'OR', 'is_hippy'] = 1
customer_df.loc[customer_df['state'] != 'OR', 'is_hippy'] = 0

#### See the awesome results!

In [65]:
customer_df

      name state  is_hippy
0  Harmony    OR       1.0
1    Sarah    CA       0.0
2   Sharad    WA       0.0
3       CJ    NY       0.0
4    Jerry    OR       1.0

### 5. Filtering data using Pandas

There are several ways to grab particular data from a DataFrame.

We saw the use of .loc in the previous example. .iloc and .loc can be used in a few different ways to access data from a DataFrame.

In [ ]:
customer_df.iloc[0] #returns the first row

In [66]:
customer_df.iloc[:,0] #returns the first column

0    Harmony
1      Sarah
2     Sharad
3         CJ
4      Jerry
Name: name, dtype: object

In [67]:
customer_df.iloc[0:2] #returns first two rows

      name state  is_hippy
0  Harmony    OR       1.0
1    Sarah    CA       0.0

In [68]:
customer_df.iloc[:,0:2] #returns the first two columns

      name state
0  Harmony    OR
1    Sarah    CA
2   Sharad    WA
3       CJ    NY
4    Jerry    OR

How would we use indexing to return the last item in the last row?

In [84]:
#return the last item in the last row using indexing
customer_df.iloc[3,0]

'CJ'

Use .loc to return rows and columns based on labels. Let's look at the students_df DataFrame again.

In [87]:
students_df.head()

       name age      city
0  Samantha  35   Houston
1      Alex  17   Seattle
2     Dante  26  New york

In [ ]:
students_df.loc['1111'] #returns the student information associated with the ID number 1111, which is the index

In [ ]:
students_df.loc[:,'YEARS'] #returns the column labeled 'YEARS'

In [ ]:
students_df.loc['1111','NAME':'HOME'] #returns information for the row labeled '1111' for columns from 'NAME' to 'HOME'

We can use .loc to complete more complicated filtering of our data using boolean indexing.

In [ ]:
students_df.loc[students_df['NAME']=='Samantha'] #returns only rows where the name of the student is Samantha

We can also find out which customers in the customer_df DataFrame are not from Oregon. However, I only want to know their names. How would I return this?

In [ ]:
customer_df.head()

In [ ]:
#return the names of customers who are not from Oregon

Let's select only a single column from a DataFrame. This will create a series, which allows for straightforward, simple selection of the data it holds.

In [ ]:
states=customer_df.loc[:,'state'] #returns a series!!
type(states)

In [ ]:
states[0:3] #returns the first 3 items

In [ ]:
states[states=='OR'] #returns 'OR' data and index

Now that we know how to select specific data, we can manipulate those cells. For example, we need to update our customer data because all of our customers in Oregon have moved to New Jersey.

In [ ]:
customer_df.loc[customer_df["state"]=='OR', "state"] = 'NJ'

customer_df

Or maybe we got a customer's name wrong and need to change that. Perhaps CJ is actually named TJ. How would we do that?

In [80]:
#return the customer_df with the fixed name

### Lesson Recap

Now that we have all of these new tools in our tool belt, let's take another look at our animal shelter data! 

- Use `shelter_data.columns` to get the list of column names
- Drop columns from the animal shelter data until you have only 5 columns remaining
- Rename those columns
- Get the `unique()` values in outcomes 
- select rows of animals based on an application of boolean indexing

For extra credit: add in your own new column on information to this DataFrame.

In [ ]:
#code here